<div class="container mt-2">
  <div class="mt-2" *ngFor="let item of bar.bars">
    <progressbar
      [value]="item.val"
      [type]="item.color"
      [striped]="true"
      [max]="100"
      [animate]="true"
      >{{ item.val }}%</progressbar
    >
  </div>
  <div class="row mt-2">
    <div class="col">
      <div
        *ngFor="let item of bar.bars; let i = index"
        class="form-group d-inline-flex mr-5"
      >
        <input
          id="bar1"
          type="radio"
          name="bar1"
          class="mt-2"
          [value]="i"
          [(ngModel)]="selectedBar"
        />
        <label for="bar1" class="ml-1">Progress Bar {{ i + 1 }}</label>
      </div>
    </div>
    <div class="col">
      <div class="btn btn-group">
        <button
          *ngFor="let btn of bar.button"
          class="btn btn-primary mr-1"
          (click)="onChangeBarHandler(btn, selectedBar)"
        >
          {{ btn }}
        </button>
      </div>
    </div>
  </div>
</div>
